body{
  background-color: azure;
}
.App {
  text-align: center;
}

.container{

  text-align: center;
  margin: 30px auto;
}

input{
  padding:10px 0 10px 100px ;
  border:2px solid;
  border-radius: 10px;
}
.image{
  filter: grayscale(0.5);
  width: 250px;
  border-radius: 20px;
}
.image:hover{
  filter:grayscale(0)
}

footer{
  position: fixed;
}